.page-section {
    padding: 6rem 0;
    height: 100%;
}
.page-section .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}
@media (min-width: 992px) {
    .page-section .page-section-heading {
        font-size: 3rem;
        line-height: 2.5rem;
        margin-bottom: 2.5rem;
    }
}